@using CourseProject.Data
@model CourseProject.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <p>@Html.DisplayFor(model => model.Order.Date)</p>
    <h3>Delivery</h3>
    <p>Date: @Html.DisplayFor(model => model.Delivery.Date)</p>
    <p>To: @Html.DisplayFor(model => model.Delivery.Address)</p>
    <p>By: @Html.DisplayFor(model => model.Delivery.DeliveryProvider.Name)</p>
    <p>Type: @Html.DisplayFor(model => model.Delivery.DeliveryType.Name)</p>
    <table class ="table table-info">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Order.Products)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.CurrPrice)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity_)
            @if (User.IsInRole(RoleConst.Admin) && Model.Order.Status.Name == "unconfirmed")
            {
                <a asp-controller="Order" asp-action="AddQuantity">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                        <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                    </svg>
                </a>
                <a asp-controller="Order" asp-action="SubtractQuantity"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-minus" viewBox="0 0 16 16">
                        <path d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
                    </svg>
                </a>
            }
            </td>
            <td> @(item.CurrPrice * item.Quantity_)</td>
    @if (User.IsInRole(RoleConst.Admin) && Model.Order.Status.Name == "unconfirmed")
    {
    
        <td><a class="btn btn-info">Edit</a></td>
    }
        </tr>
    }
    </tbody>
    </table>
</div>


@*<dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <div class="col-10 d-flex justify-content-start align-items-center flex-wrap">
                @foreach (var item in Model.Products)
                {
                    <div class="card bg-light m-4" style="width: 15rem;">
                        <img src="@item.Image" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <h3 class="card-text">@Html.DisplayFor(modelItem => item.Price)</h3>
                            <a class="btn btn-outline-info" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-outline-dark" asp-controller="Cart" asp-action="AddItem" asp-route-id="@item.Id">Add To Cart</a>
                        </div>
                    </div>
                }
            </div>

        </dl>*@


