@model CourseProject.Models.ViewModels.CartViewModel

@{
    ViewData["Title"] = "Index";
}


@if (Model.Items.Count != 0)
{
<div>
    <h2 class="mb-2">Cart</h2>
    <div class="d-flex align-items-center justify-content-right mb-5">
        <a class="btn btn-success" asp-controller="Order" asp-action="Create">Create Order</a>
        <span  style="margin-left: 30px" class="align-bottom">Price of order: @Html.DisplayFor(modelItem => Model.Amount)</span>
    </div>
</div>


    <div class="products d-flex justify-content-between flex-wrap">
    @for (var i = 0; i < Model.Items.Count; i++)
    {
        <div class="card mb-3" style="width: 15rem;">
            <img src="@Model.Items[i].Product.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Model.Items[i].Product.Name</h5>
                <p class="card-text">Price: @Model.Items[i].Product.Price</p>
                <p class="card-text">Quantity: @Model.Items[i].Quantity</p>
                <a class="btn btn-danger" asp-controller="Cart" asp-action="Delete" asp-route-position="@i">Delete Item</a>
            </div>
        </div>
    }
    </div>
}
else
{
    <h5 class="text-center">Empty Cart</h5>
}

