@using CourseProject.Models.DataModels
@using Microsoft.AspNetCore.Identity
@model CourseProject.Models.ViewModels.CartViewModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    @if (Model.Items.Count != 0)
    {
        <div class=" twelve wide column products d-flex justify-content-between flex-wrap">
            <h2 class="ui header">Кошик</h2>
            <div class="ui three column grid">

                @for (var i = 0; i < Model.Items.Count; i++)
                {
                    <div class="column">
                        <div class="ui fluid card">
                            <div class="image">
                                <img src="@Model.Items[i].Item.ImageLink">
                            </div>
                            <div class="content">
                                <a class="header" asp-controller="Item" asp-action="Details" asp-route-id="@Model.Items[i].Item.Id">@Model.Items[i].Item.Name</a>
                            </div>
                            <div class="description">
                                Ціна: @(Model.Items[i].Item.Price* Model.Items[i].Quantity)
                            </div>
                            <div class="extra content">
                                <span>Кількість:</span>
                                <a asp-controller="Cart" asp-action="Delete" asp-route-position="@i">
                                    <i class="minus square outline icon"></i>
                                </a>
                                <a asp-controller="Cart" asp-action="Add" asp-route-position="@i">
                                    <i class="plus square outline icon"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                        }
                    </div>
                
        </div>
        <div class="four wide column">
            <div class="d-flex align-items-center justify-content-between mb-5">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="ui button" asp-controller="Order" asp-action="Create">Create Order</a>
                }
                else
                {
                    <div class="ui animated fade button" tabindex="0">
                        <div class="visible content">Увійдіть для замовлення</div>
                        <div class="hidden content">
                            Замовити
                        </div>
                    </div>
                }

                <p>Усього: @Html.DisplayFor(modelItem => Model.Amount)</p>
            </div>
        </div>
    }
    else
    {
        <h4 class="ui header">Empty Cart</h4>
    }
</div>