@using CourseProject.Models.ViewModels
@model CourseProject.Models.ViewModels.ProductIndexViewModel

@{
    ViewData["Title"] = "Main";
}

<h1>Products</h1>

<div class="row">
    <div class="col-2">
        <ul class="filter-box">
            @foreach (var cat in Model.Categories)
            {
            <li>
                <a asp-action="GetByCategory" asp-route-categoryId="@cat.Id">@cat.Name</a>
                @if(User.IsInRole("admin"))
                {
                    <a class="alert-danger alert" asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id">edit</a>
                }
            </li>
            }
        </ul>

        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
        <div class="dropdown-menu">
            <p class="dropdown-item" asp-action="Index">
                <a class="link-dark" asp-action="Index">Default</a>
            </p>
            <p class="dropdown-item">
                <a class="link-dark" asp-action="Index" asp-route-sortOrder="@("price_asc")">Price higher</a>
            </p>s
            <p class="dropdown-item">
                <a class="link-dark" asp-action="Index" asp-route-sortOrder="@("price_desc")">Price lower</a>
            </p>
        </div>

    </div>

    <div class="col-10 d-flex justify-content-start align-items-center flex-wrap">
        @foreach (var item in Model.Products)
        {
            <div class="card m-4" style="width: 15rem;">
                <img src="@item.Image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">Price: @Html.DisplayFor(modelItem => item.Price)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a class="btn btn-light" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-primary" asp-controller="Cart" asp-action="AddItem" asp-route-id="@item.Id">Add To Cart</a>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $('#btnPrice').click(function () {
        var min = Number.parseInt(document.getElementById("slider-range-value1").innerText.substr(1));
        var max = Number.parseInt(document.getElementById("slider-range-value2").innerText.substr(1));
    });
    function UnHide(elem) {
        if (elem.innerHTML.charCodeAt(0) === 9658) {
            elem.innerHTML = '&#9660;';
            elem.parentNode.parentNode.parentNode.className = '';
        } else {
            elem.innerHTML = '&#9658;';
            elem.parentNode.parentNode.parentNode.className = 'cl';
        }
        return false;
    }
</script>

