@using CourseProject.Models.ViewModels
@model CourseProject.Models.ViewModels.ProductIndexViewModel

@{
    ViewData["Title"] = "Main";
}

<h1>Products</h1>

<div class="row">
<div class="treeview col-2 ">
    <ul>
        @foreach (var cat in Model.Categories)
        {
            <li>
                @await Html.PartialAsync("CategoryTreePartial",
                    new CategoryTreeViewModel() {Action = "GetByCategory", Controller = "Product", Category = cat})
            </li>
        }
    </ul>
   
    @*<div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div id="slider-range"></div>
            </div>
        </div>
        <div class="row slider-labels">
            <div class="col-xs-6 caption">
                <strong>Min:</strong> <span runat="server" id="slider-range-value1"></span>
            </div>
            <div class="col-xs-6 text-right caption">
                <strong>Max:</strong> <span runat="server" id="slider-range-value2"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <input type="hidden" name="min-value" value="">
                    <input type="hidden" name="max-value" value="">
                </form>
            </div>
        </div>
        <a class="btn btn-primary" asp-action="GetByPrice" asp-route-minPrice="25" asp-route-maxPrice="450">|_|</a>
        <a class="btn btn-primary" id ="btnPrice" >alo</a>
    </div>*@

    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</button>
    <div class="dropdown-menu">
        <p class="dropdown-item" asp-action="Index">
            <a class="link-dark" asp-action="Index">Default</a>
        </p>
        <p class="dropdown-item" >
            <a class="link-dark" asp-action="Index" asp-route-sortOrder="@("price_asc")">Price higher</a>
        </p>
        <p class="dropdown-item" >
            <a class="link-dark" asp-action="Index" asp-route-sortOrder="@("price_desc")">Price lower</a>
        </p>
    </div> 

</div>

    <div class="col-10 d-flex justify-content-start align-items-center flex-wrap">
    @foreach (var item in Model.Products)
    {
        <div class="card bg-light m-4" style="width: 15rem;">
            <img src="@item.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <h3 class="card-text">@Html.DisplayFor(modelItem => item.Price)</h3>
                <a class="btn btn-outline-info" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-dark" asp-controller="Cart" asp-action="AddItem" asp-route-id="@item.Id">Add To Cart</a>
            </div>
        </div>
    }
</div>
</div>

<script>

    $('#btnPrice').click(function() {
        var min = Number.parseInt(document.getElementById("slider-range-value1").innerText.substr(1));
        var max = Number.parseInt(document.getElementById("slider-range-value2").innerText.substr(1));


    });

    function UnHide(elem) {
        if (elem.innerHTML.charCodeAt(0) === 9658) {
            elem.innerHTML = '&#9660;';
            elem.parentNode.parentNode.parentNode.className = '';
        } else {
            elem.innerHTML = '&#9658;';
            elem.parentNode.parentNode.parentNode.className = 'cl';
        }
        return false;
    }


</script>

