@model CourseProject.Models.ViewModels.ProductIndexViewModel

@{
    ViewData["Title"] = "Main";
}

<h1>Products</h1>

<div class="row">
<div class="treeview">
    <ul>

        @foreach (var cat in Model.Categories)
        {
            
            <li>
                @await Html.PartialAsync("CategoryTreePartial", cat)
            </li>
        }
        
    </ul>
</div>

    <div class="col-6">
    @foreach (var item in Model.Products)
    {
        <div class="card mb-3" style="width: 15rem;">
            <img src="@item.Image" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-primary" asp-controller="Cart" asp-action="AddItem" asp-route-id="@item.Id">Add To Cart</a>
            </div>
        </div>
    }
</div>
</div>

<script>
    function UnHide(elem) {
        if (elem.innerHTML.charCodeAt(0) === 9658) {
            elem.innerHTML = '&#9660;';
            elem.parentNode.parentNode.parentNode.className = '';
        } else {
            elem.innerHTML = '&#9658;';
            elem.parentNode.parentNode.parentNode.className = 'cl';
        }
        return false;
    }
</script>
@*<script>




    (function($) {

        let $allPanels = $('.nested').hide();
        let $elements = $('.treeview-animated-element');

        $('.treeview-animated-items-header').click(function() {
            $this = $(this);
            $target = $this.siblings('.nested');
            $pointerPlus = $this.children('.fa-plus-circle');
            $pointerMinus = $this.children('.fa-minus-circle');

            $pointerPlus.removeClass('fa-plus-circle');
            $pointerPlus.addClass('fa-minus-circle');
            $pointerMinus.removeClass('fa-minus-circle');
            $pointerMinus.addClass('fa-plus-circle');
            $this.toggleClass('open');
            if (!$target.hasClass('active')) {
                $target.addClass('active').slideDown();
            } else {
                $target.removeClass('active').slideUp();
            }

            return false;
        });
        $elements.click(function() {
            $this = $(this);

            if ($this.hasClass('opened')) {

                $elements.removeClass('opened');
            } else {

                $elements.removeClass('opened');
                $this.addClass('opened');
            }
        })
    })(jQuery);
</script>*@