@using CourseProject.Models.ViewModels
@model CourseProject.Models.ViewModels.ProductIndexViewModel

@{
    ViewData["Title"] = "Main";
}

<h1>Pizza</h1>

<div class="row">
    <div class="col-2">

        <ul class="filter-box">
            <p>Category: </p>
            @foreach (var cat in Model.Categories)
            {
                <li class="filter-link">
                    <a asp-action="GetByCategory" style="font-size: 18px;" asp-route-categoryId="@cat.Id">@cat.Name</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="font-italic " style="color: red" asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id">edit</a>
                    }
                </li>
            }
        </ul>

        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Filter
        </button>
        <div class="dropdown-menu">
            <h6 class="dropdown-header">By price</h6>
            <p class="dropdown-item" asp-action="Index">
                <a class="link-dark" asp-action="Index">Default</a>
            </p>
            <p class="dropdown-item">
                <a class="link-dark" asp-action="Index" asp-route-sortOrder="@("price_asc")">Price higher</a>
            </p>
            <p class="dropdown-item">
                <a class="link-dark" asp-action="Index" asp-route-sortOrder="@("price_desc")">Price lower</a>
            </p>
        </div>

    </div>

    <div class="col-10 d-flex justify-content-start align-items-center flex-wrap">

        @foreach (var item in Model.Products)
        {

            <div class="card m-4" style="width: 15rem;">
                <div class="card-image">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">
                        <img src="@item.Image" class="card-img-top" alt="...">
                    </a>
                    <span style="font-weight: 700" class="card-title">@Html.DisplayFor(modelItem => item.Title)</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" asp-controller="Cart" asp-action="AddItem" asp-route-id="@item.Id"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>Price: @Html.DisplayFor(modelItem => item.Price)</p>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
            </div>

        }
    </div>
</div>

<script>
    $('#btnPrice').click(function () {
        var min = Number.parseInt(document.getElementById("slider-range-value1").innerText.substr(1));
        var max = Number.parseInt(document.getElementById("slider-range-value2").innerText.substr(1));
    });
    function UnHide(elem) {
        if (elem.innerHTML.charCodeAt(0) === 9658) {
            elem.innerHTML = '&#9660;';
            elem.parentNode.parentNode.parentNode.className = '';
        } else {
            elem.innerHTML = '&#9658;';
            elem.parentNode.parentNode.parentNode.className = 'cl';
        }
        return false;
    }
</script>

