@using CourseProject.Models.ViewModels
@using CourseProject.Data
@model CourseProject.Models.DataModels.Item

@{
    ViewData["Title"] = "Details";
}
<div class="row">
    <div class="eight wide column">

        <h1 class="ui header">Деталі послуги</h1>
        <img class="ui medium image" src="@Model.ImageLink" alt="Alternate Text"/>
        <dl class="container">

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                Category:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type.Name)
            </dd>
        </dl>
        <div>
            @Html.ActionLink("До кошика", "AddItem", "Cart", new {id = Model.Id}, new {@class = "ui button"})
            @if (User.IsInRole("admin"))
            {
                <a class="ui button" asp-controller="Item" asp-action="Edit"asp-route-id="@Model.Id">Редагувати</a>
            }
        </div>
    </div>
    @if(Model.Description.Contains('|'))
    {
        <div class="eight wide column">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Кількість</th>
                    <th>Ціна</th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.MaxQuantity; i++)
                {
                    <tr>
                        <td data-label="Name">@(Model.Description.Substring(Model.Description.LastIndexOf('|') + 1) + (i + 1))</td>
                        <td data-label="Price">@(Model.PriceModifier * (i + 1))</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    
</div>