@using CourseProject.Models.ViewModels
@using CourseProject.Data
@model CourseProject.Models.ViewModels.CategoryTreeViewModel



<div>
    <p>
        <a href="#" class="sc" onclick="return UnHide(this)">&#9660;</a>
        <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-categoryId="@Model.Category.Id">@Model.Category.Name</a>
        @if (User.IsInRole(RoleConst.Admin))
        {
            <a class="alert-danger alert" asp-controller="Category" asp-action="Edit" asp-route-id="@Model.Category.Id">edit</a>
        }
    </p>
</div>

@if (Model.Category.SubCategories != null && Model.Category.SubCategories.Any())
{
<ul>
    @foreach (var category in Model.Category.SubCategories)
    {
        @if (category.SubCategories != null && category.SubCategories.Any())
        {
            <li class="cl">

                @await Html.PartialAsync("CategoryTreePartial",
                    new CategoryTreeViewModel() {Action = Model.Action, Controller = Model.Controller, Category = category})

            </li>
        }
        else
        {
            <li>
                <div>
                    <p>
                        <a asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-categoryId="@category.Id">@category.Name</a>
                        @if (User.IsInRole(RoleConst.Admin))
                        {
                            <a class="alert-danger alert" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">edit</a>
                        }
                    </p>

                </div>

            </li>
           
        }
    }
</ul>
}
